<footer th:fragment="footer" class="footer bg-dark text-white py-5 mt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="border-bottom pb-2 mb-3">MSN Việt Nam</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="/about"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-info-circle me-2"></i>Về chúng tôi</a
            >
          </li>
          <li>
            <a
              href="/advertise"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-ad me-2"></i>Quảng cáo</a
            >
          </li>
          <li>
            <a
              href="/terms"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-file-contract me-2"></i>Điều khoản sử dụng</a
            >
          </li>
          <li>
            <a
              href="/privacy"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-user-shield me-2"></i>Chính sách bảo mật</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="border-bottom pb-2 mb-3">Danh mục</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="/news"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-newspaper me-2"></i>Tin tức</a
            >
          </li>
          <li>
            <a
              href="/entertainment"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-film me-2"></i>Giải trí</a
            >
          </li>
          <li>
            <a
              href="/sports"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-basketball-ball me-2"></i>Thể thao</a
            >
          </li>
          <li>
            <a
              href="/money"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fas fa-coins me-2"></i>Tài chính</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="border-bottom pb-2 mb-3">Kết nối</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="#"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fab fa-facebook me-2"></i>Facebook</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fab fa-twitter me-2"></i>Twitter</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fab fa-instagram me-2"></i>Instagram</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-decoration-none text-white-50 d-block py-1 hover-effect"
              ><i class="fab fa-youtube me-2"></i>YouTube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-4 pt-4 border-top border-secondary">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0 text-white-50">
          &copy; 2025 MSN Việt Nam. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="btn btn-sm btn-outline-light rounded-circle mx-1"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#" class="btn btn-sm btn-outline-light rounded-circle mx-1"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="#" class="btn btn-sm btn-outline-light rounded-circle mx-1"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#" class="btn btn-sm btn-outline-light rounded-circle mx-1"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
