<nav th:fragment="navMona" class="navbar-mona">
    <div class="container-mona">
        <div class="nav-mona-top">
            <div class="logo-mona">
                <img src="/images/logo.jpg" alt="Logo" style="height:54px;">
            </div>
            <div class="nav-mona-right">
                <form class="search-box-mona" th:action="@{/tim-kiem}" method="get">
                    <input type="text" name="q" placeholder="Tìm kiếm...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="social-icons-mona">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
                
            </div>
        </div>


        <!-- Navigation Bar -->
        <div class="nav-mona-sub">
            <div class="nav-wrapper">
                <!-- Main Menu -->
                <ul class="main-menu">
                    <li><a href="/">Tin tức</a></li>
                    <li th:each="danhmuc : ${danhmucs}">
                        <a th:href="@{'/danh-muc/' + ${danhmuc.duongDan}}" 
                           th:text="${danhmuc.tenDanhMuc}">
                        </a>
                    </li>
                </ul>
            </div>
       
    </div>
</nav>


</div>
