<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar" class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#overview" data-bs-toggle="tab">
                    <i class="fas fa-home"></i> Tổng quan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#posts" data-bs-toggle="tab">
                    <i class="fas fa-newspaper"></i> Bài viết
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#categories" data-bs-toggle="tab">
                    <i class="fas fa-list"></i> Danh mục
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#users" data-bs-toggle="tab">
                    <i class="fas fa-users"></i> Người dùng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ads" data-bs-toggle="tab">
                    <i class="fas fa-ad"></i> Quảng cáo
                </a>
            </li>
        </ul>
    </nav>
</div>

</html>